@import "../../styles/colors";

.select-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 12px 0;

  &__select-item {
    padding: 0 32px;
    margin-bottom: 10px;
    height: 56px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    font-size: 18px;
    color: $text-color;
    line-height: 22px;
    background-color: $button-color;
    border: none;
    border-radius: 8px;
    outline: none;

    transition: all 0.4s;

    &.--selected {
      background-color: $primary-color;
      color: $button-color;
    }

    & + & {
      margin-left: 28px;
    }
  }
}
