@import "../../styles/colors";

.nav {
  border-bottom: 1px solid $border-color;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 60px;
  transition: padding 0.4s;
}
