$background-color: #191b29;
$button-color: #23263a;
$primary-color: #f2c046;
$text-color: #c0b7b7;
$loading-color: #212336;
$border-color: #23263a;
$card-title-color: #e5e5e5;
$card-hover-bg: rgba(35, 38, 58, 0.6);
