.loading-select-button {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.select-item-faker {
  height: 56px;
  border-radius: 8px;
  margin-bottom: 10px;

  & + & {
    margin-left: 28px;
  }

  &.size-1 {
    width: 110px;
  }

  &.size-2 {
    width: 140px;
  }
}
